h1 {
  color: blue;
  text-align: center;
}

#opening {
  color: black;
  text-align: center;
}


#first {
  background-image: url(headingHome.jpg);
  image-orientation: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  padding: 0;
  border: 0;
  margin: 0;
}


p {
  font-weight: bold;
  color: red;
  width: 800px;
  margin: auto;
  padding: 40px;
}

#block {
  background-color: #c0c0c0;
  padding: 0;
  border: 0;
  margin: 0;
}



ul {
  color: red;
  font-weight: bold;
  width: 300px;
  margin: auto;
}

ol {
  color: #600000;
  font-weight: bold;
  width: 700px;
  margin: auto;
}
